html {
    background-color: rgb(61,91,151);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5)
}

.navbar-brand {
    margin-right: unset;
}

.bg-authfp {
    background-color: rgb(61,91,151);
}

#file_input {
    display: none;
}

.text-center {
    display: flex;
    justify-content: center;
    height: 100%;
}

.profile-image {
    border-radius: 3rem;
    height: 6rem;
}

.font-lg {
    font-size: 1.5rem;
}

.message-display {
    margin-bottom: 3px;
}

.segmented-controlls {
    display: flex;
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 10px;
}

.segmented-controlls > div {
    flex: 1 1 100px;
}

.selected {
    color: rgb(61,91,151);
}

.input-controller {
    border-radius: 10px;
    background-color: white;
}

.form-control {
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: unset !important;
}

.separator { 
    background-color: lightgrey;
    height: 1px;
    width: 100%;
}

.hide {
    display: none !important;
}