html, body {
    margin: 0;
    background-color: rgb(61,91,151);
    overflow: hidden;
    height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5)
}

.navbar-brand {
    padding: 0;
}

.bg-authfp {
    background-color: rgb(61,91,151);
}

.container-fluid, .sidebar, .message-container {
    height: 100%;
}

#upload_image {
    display: none;
}

.btn-logout {
    background-color: transparent;
    color: white;
    padding: 0;
}

.sidebar {
    z-index: 0;
    width: 15rem;
    padding: 5px;
    position: fixed;
}

.sidebar-icon {
    height: 30px !important;
}

.hide {
    display: none;
}

.user-container {
    display: flex;
    align-items: center;
    width: inherit;
    margin-bottom: 5px;
}

.other-user-profile-pic {
    height: 60px;
    border-radius: 50%;
}

.user-name {
    margin-left: 5px;
    max-width: 110px;
    max-height: 25px;
    color: white;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.messages-container {
    height: 100%;
}

.messages, .action-bar {
    display: block;
    overflow-y: auto;
    height: inherit;
}

.messages {
    padding-bottom: 100px;
}

.action-bar {
    height: fit-content;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-control {
    border: none;
    outline: none;
    box-shadow: unset !important;
    background-color: transparent !important;
    display: inline-block;
}

.upload-image {
    display: inline-block;
    height: 40px;
}