html, body {
    height: 100%;
    background-color: rgb(61,91,151); /*Other option rgba*/
    overflow: hidden;
}

#Upload_File {
    visibility: hidden;
}

div.Container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Top_Box Design Starts Here*/

div.Top_Box {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 50px;
    display: block;
    color: white;
}
                                                            /*Title_Container Design Starts Here*/

div.Title_Container {
    float: left;
}

#Sidebar_Icon {
    height: 40px;
    float: left;
    padding: 5px;
}

#Sidebar_Icon:hover {
    opacity: 0.8;
}

label.Title_Label {
    font-family: sans-serif;
    height: 100%;
    width: 190px;
    padding: 15px 0px;
    display: block;
}
                                                            /*Title_Container Design Ends   Here*/

                                                            /*User_Container Design Starts Here*/

div.User_Container {
    height: 100%;
    width: 55%;
    margin: auto;
    float: right;
}

#Profile_Image {
    height: 50px;
    border-radius: 25px;
    float: left;
}

#User_Name {
    font-family: sans-serif;
    height: 100%;
    padding: 15px 5px;
    display: inline-block;
}

#Logout_Button {
    float: inherit;
    height: 100%;
    width: 100px;
    background-color: transparent;
    color: white;
    border: hidden;
}

                                                            /*User_Container Design Ends   Here*/

/*Top_Box Design Ends   Here*/

/*Main_Display Design Starts Here*/

div.Main_Display {
    width: 100%;
    height: 100%;
    display: block;
}

                                                            /*Sidebar Design Starts Here*/
div.Sidebar {
    background-color: rgba(255,255,255,0.1);
    height: 100%;
    width: 0px;
    overflow: hidden;
    float: left;
}

                                                            /*User_Table Design Starts Here*/

div.User_Row {
    height: 60px;
    width: 190px;
    padding: 5px 5px;
    display: block;

}

div.User_Row:hover {
    opacity: 0.7;
}

#profilePictureURL {
    width: 60px;
    border-radius: 50%;
    display: block;
    float: left;
}

div.User_Info {
    width: 68%;
    height: 100%;
    float: right;
}

#Set_Name,#Set_Email {
    font-family: sans-serif;
    color: white;
    display: block;
    padding: 5px 5px;
}

                                                            /*User_Table Design Ends   Here*/

                                                            /*Sidebar Design Ends   Here*/

                                                            /*Message_Display_Box Design Starts Here*/

div.Message_Display_Box {
    width: 500px;
    height: 802px;
    border-radius: 5px;
    margin: auto;
    /* background-color: white; */
}

div.Display_Messages {
    height: 760px;
    width: inherit;
    display: block;
    overflow: scroll;
    /* background-color: white; */
}

#Message {
    color: lightgrey;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 5px;
    width: 192px;
    font-family: sans-serif;
    font-style: italic;
}

                                                            /*Cell Design Starts Here*/

div.Cell {
    display: grid;
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: auto;
}

#Chat_Partner_Profile_Image {
    height: 25px;
    border-radius: 12px;
    margin: auto;
    margin-left: 5px;
}

div.cell {
    width: 300px;
    padding: 0px 5px;
}

#Img_Bubble {
    border-radius: 10px;
    max-width: 300px;
    background-color: aliceblue;
}


#Bubble {
    padding: 5px 5px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 10px;
}
                                                            /*Cell Design Ends   Here*/

div.Seperator {
    height: 1px;
    display: block;
    background-color: lightgrey;
}

                                                            /*Input_Views Design Starts Here*/
div.Input_View {
    height: 40px;
    width: 100%;
    overflow: hidden;
    display: block;
}

#Upload_Image {
    height: inherit;
}

#Upload_Image:hover {
    opacity: 0.6;
}

#Text_Input {
    border: hidden;
    position: absolute;
    height: 38px;
    width: 458px;
    font-size: 15px;
    background-color: transparent;
    color: white;
}

                                                            /*Input_Views Design Ends  Here*/

                                                            /*Message_Display_Box Design Ends   Here*/

/*Main_Display Design Ends  Here*/